body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span {
    display: inline-block;
}

li {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 15px;
}

.no-checkbox {
    padding-left: calc(15px + 11px);
}

/* .no-checkbox {
    padding-top: 0.2rem;
    padding-bottom: 0;
} */

li > label:after {
    content: ':';
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* fieldset > input {
    display: block;
} */

input[type="submit"] {
    margin-left: auto;
    margin-top: 0.5rem;
}

h3 + p {
    text-align: center;
    /* font-style: italic; */
}