body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

form, #results {
    width: 300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span {
    display: inline-block;
}

li {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 15px;
}

.no-checkbox {
    padding-left: calc(15px + 11px);
}

/* .no-checkbox {
    padding-top: 0.2rem;
    padding-bottom: 0;
} */

li > input + label:after {
    content: ':';
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* fieldset > input {
    display: block;
} */

/* input[type="submit"] {
    margin-left: auto;
    margin-top: 0.5rem;
} */

li:last-of-type {
    margin-top: 0.5rem;
}

h3 + p {
    text-align: center;
    font-style: italic;
}

#results li {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
}

/* query.php */

#results {
    width: 500px;
    padding: 0;
}

.room-info {
    margin-right: 0.5rem;
}

.room-times {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.room-times li {
    white-space: nowrap;
    margin-top: 0;
}

#results .room-times li:last-of-type {
    margin-bottom: 0;
}

/* Used in makeRoomTableView for side by side display */
.inline-block {
    display: inline-block;
}
